@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Security.Claims
@section Scripts {
    <script src="~/js/documents.js"></script>

}
@{
    <body data-role="@User.FindFirst(ClaimTypes.Role).Value" data-employeeid="@User.FindFirst("EmployeeID").Value" data-userid="@User.FindFirst("UserID").Value">
        <button id="btnOpenUploadDialog">Upload</button>
        <div class="table-container">
        <table id="tblDocuments" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee ID</th>
                    <th>File Name</th>
                    <th>Document Type</th>
                    <th>Created by</th>
                    <th>Created at</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows loaded by JS -->
            </tbody>
        </table>
        </div>
        <dialog id="dlgAdd"></dialog>
    </body>
}


