@section Scripts {
    <script src="~/js/logs.js"></script>

}
@{
    <div class="table-container">
    <table id="tblLogs" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Action</th>
                <th>Time Stamp</th>
                <th>Object ID</th>
                <th>IP Address</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows loaded by JS -->
        </tbody>
    </table>
    </div>
}
